################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/work_page/work/.vs/work
